html {
        background: url('/static/nintendo.jpg') no-repeat center fixed;
        background-size: cover;
        background-color: hsla(0,0%,0%,0.80);
        background-blend-mode: overlay;
    }
h1 {
  text-align: center;
  font-family: Tahoma, sans-serif;
  color: #FFFFFF;
  text-shadow: -1px 1px 0 #000,
				  1px 1px 0 #000,
				 1px -1px 0 #000,
				-1px -1px 0 #000;
}
.filter_menu {
  width: 100%;
}
table {
  margin: 0 auto;
  border-style: double;
  border-collapse: separate;
  border-spacing: 5px;
  background-color: white;
}
td {
  text-align: center;
}
footer {
  text-align: center;
  color: white;
  text-shadow: -1px 1px 0 #000,
				  1px 1px 0 #000,
				 1px -1px 0 #000,
				-1px -1px 0 #000;
}
.chart {
  color: #FFFFFF;
  margin-top: -250px;
}
.legend {
  margin-left: 100px;
  background-color: white;
  width: 125px;
  padding: 8px;
  float:right 100px;
}
