h1 {
  text-align: center;
  font-family: Tahoma, sans-serif;
  color: #696969;
}
.filter_menu {
  width: 100%;
}
table {
  margin: 0 auto;
  border-style: double;
  border-collapse: separate;
  border-spacing: 5px;
}
td {
  text-align: center;
}
footer {
  text-align: center;
}
