html {
        background: url('/static/nintendo.jpg') no-repeat center fixed;
        background-size: cover;
        background-color: hsla(0,0%,0%,0.80);
        background-blend-mode: overlay;
    }
.filter_menu {
  width: 50%;
  display: inline;
  float: left;
}
table {
  border-style: double;
  border-collapse: separate;
  border-spacing: 5px;
  background-color: white;
  margin: 0 auto;
}
td {
  text-align: center;
}
footer {
  text-align: center;
  color: white;
  text-shadow: -1px 1px 0 #000,
				  1px 1px 0 #000,
				 1px -1px 0 #000,
				-1px -1px 0 #000;
}
.legend_menu{
    display: inline;
}
.chart {
  color: #FFFFFF;
}

.legend_menu div{
    border: 1px solid black;
    width:10px;
    height:10px;
    display: inline-block;
}

#filter{
    margin: 0 auto;
}

#no {background-color: white}
#free { background-color: #ffe6e6}
#zero {background-color: #ffcccc}
#ten {background-color: #ff9999}
#twenty {background-color: #ff6666}
#thirty {background-color: #ff3333}
#forty {background-color: #ff0000}
#fifty {background-color: #cc0000}
#sixty {background-color: #990000}
#seventy {background-color: #660000}
#eighty {background-color: #330000}
#ninety {background-color: #000000}
