{% extends "base.html" %}

{% block title %} NinTimeDo {% endblock %}
{% block content %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='index.css') }}">
<h1 style = "margin:0px">NinTimeDo &#8212; Nintendo Game Timeline</h1>
<svg class="chart"></svg>
<p class="bar_data" hidden>{{bar_data | tojson}}</p>
<div class= "bottom_part">
    <div class="filter_menu">
        <table>
            <tr>
                <td>
                    Year:
                    <select id="year">
                        <option value="ally">All</option>
                        <option value="2006">2006</option>
                        <option value="2007">2007</option>
                        <option value="2008">2008</option>
                        <option value="2009">2009</option>
                        <option value="2010">2010</option>
                        <option value="2011">2011</option>
                        <option value="2012">2012</option>
                        <option value="2013">2013</option>
                        <option value="2014">2014</option>
                        <option value="2015">2015</option>
                        <option value="2016">2016</option>
                        <option value="2017">2017</option>
                        <option value="2018">2018</option>
                        <option value="2019">2019</option>
                        <option value="2020">2020</option>
                    </select>
                    <br>
                </td>
                <td>
                    System:
                    <select id="system">
                        <option value="alls">All</option>
                        <option value="Nintendo 3DS">Nintendo 3DS</option>
                        <option value="Nintendo DS">Nintendo DS</option>
                        <option value="Nintendo Switch">Nintendo Switch</option>
                        <option value="Wii U">Wii U</option>
                        <option value="Wii">Wii</option>
                    </select>
                    <br>
                </td>
                <td>
                  Price:
                  <select id="price">
                    <option value="allp">All</option>
                    <option value="100"> &gt; $90 </option>
                    <option value="90"> &#8804; $90 </option>
                    <option value="80"> &#8804; $80 </option>
                    <option value="70"> &#8804; $70 </option>
                    <option value="60"> &#8804; $60 </option>
                    <option value="50"> &#8804; $50 </option>
                    <option value="40"> &#8804; $40 </option>
                    <option value="30"> &#8804; $30 </option>
                    <option value="20"> &#8804; $20 </option>
                    <option value="10"> &#8804; $10 </option>
                    <option value="0"> Free </option>
                  </select>
                </td>
            </tr>
            <tr>
                <td>
                  Category:
                  <select id="category">
                    <option value="allc">All</option>
                    <option value="Action">Action</option>
                    <option value="Adventure">Adventure</option>
                    <option value="Arcade">Arcade</option>
                    <option value="Board Games">Board Games</option>
                    <option value="Casual">Casual</option>
                    <option value="Communication">Communication</option>
                    <option value="Education">Education</option>
                    <option value="Exploration">Exploration</option>
                    <option value="Family">Family</option>
                    <option value="Fantasy">Fantasy</option>
                    <option value="Fighting">Fighting</option>
                    <option value="First Person">First Person</option>
                    <option value="Fitness">Fitness</option>
                    <option value="Football">Football</option>
                    <option value="Game Creation">Game Creation</option>
                    <option value="Hunting">Hunting</option>
                    <option value="Lifestyle">Lifestyle</option>
                    <option value="Motion-Based Action">Motion-Based Action</option>
                    <option value="Multiplayer">Multiplayer</option>
                    <option value="Music">Music</option>
                    <option value="Party">Party</option>
                    <option value="Platformer">Platformer</option>
                    <option value="Practical">Practical</option>
                    <option value="Puzzle">Puzzle</option>
                    <option value="Racing">Racing</option>
                    <option value="Rhythm">Rhythm</option>
                    <option value="Role-Playing">Role-Playing</option>
                    <option value="Shooter">Shooter</option>
                    <option value="Side-Scrolling">Side-Scrolling</option>
                    <option value="Simulation">Simulation</option>
                    <option value="Sports">Sports</option>
                    <option value="Strategy">Strategy</option>
                    <option value="Study">Study</option>
                    <option value="Training">Training</option>
                    <option value="Other">Other</option>
                  </select>
                </td>
                <td colspan="2">
                    <button id="filter">Filter</button>
                </td>
            </tr>
        </table>
    </div>
    <div class="legend_menu">
        <table>
            <tr>
                <td>
                    <div id="free"></div>
                    Free
                </td>
                <td>
                    <div id="zero"></div>
                    > $0
                </td>
                <td>
                    <div id="ten"></div>
                    > $10
                </td>
                <td>
                    <div id="twenty"></div>
                    > $20
                </td>
                <td>
                    <div id="thirty"></div>
                    > $30
                </td>
                <td>
                    <div id="forty"></div>
                    > $40
                </td>
            </tr>
            <tr>
                <td>
                    <div id="no"></div>
                    No price data
                </td>
                <td>
                    <div id="fifty"></div>
                    > $50
                </td>
                <td>
                    <div id="sixty"></div>
                    > $60
                </td>
                <td>
                    <div id="seventy"></div>
                    > $70
                </td>
                <td>
                    <div id="eighty"></div>
                    > $80
                </td>
                <td>
                    <div id="ninety"></div>
                    > $90
                </td>
            </tr>
        </table>
    </div>
</div>
<script src="http://d3js.org/d3.v5.min.js" charset="utf-8"></script>
<script type="text/javascript" src="{{ url_for('static', filename='index.js')}}"></script>
<br><br><hr>
<footer>
  &copy; Team calm-squid-salsa
</footer>
{% endblock %}
